
<!--
<nav class = "navbar navbar-default">

</nav> -->
<div class="container-fluid ">
  <!-- <ul class="nav navbar-nav"> -->
       <!-- <div class="nav nav-tabs" > -->
         <ul class="nav">
           <li class="marginal col-sm-3 col-md-2 " role="presentation" routerLinkActive="active">
             <a class="product_hover" routerLink = "/products/gowns" >Gowns</a>
           <span class="ghover">
             <div class="col-md-12">
               <div class="col-md-3">
                 <h3><a class="gownTextHoverHead" routerLink = "/products/LongGown">Long Gowns</a></h3>
                 <ul class="noListStyle">
                   <li><a class="gownTextHover"  routerLink = "/products/DinnerGown">Dinner Gowns</a></li>
                   <li><a class="gownTextHover"  routerLink = "/products/PatternedGown">Patterned Gowns</a></li>
                   <li><a class="gownTextHover"  routerLink = "/products/PlainColorGown">Plain Color Gowns</a></li>
                 </ul>
               </div>
               <div class="col-md-3">
                   <h3><a class="gownTextHoverHead" routerLink = "/products/ShortGown">Short Gowns</a></h3>
                   <ul class="noListStyle">
                     <li><a class="gownTextHover" routerLink = "/products/PatternedSGown">Patterned Gowns</a></li>
                     <li><a class="gownTextHover" routerLink = "/products/PlainColorSGown">Plain Color Gowns</a></li>
                     <li><a class="gownTextHover" routerLink = "/products/ChurchGown">Church Gowns</a></li>
                     <li><a class="gownTextHover" routerLink = "/products/OfficeGown">Office Gowns</a></li>
                   </ul>
                 </div>
                 <div class="col-md-3">
                     <h3><a class="gownTextHoverHead" routerLink = "/products/TraditionalWearGown">Traditional Wear</a></h3>
                     <ul class="noListStyle">
                       <li><a class="gownTextHover" routerLink = "/products/AnkaraGown">Ankara Gowns</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/LaceGown">Lace Gowns</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/GuineaGown">Guinea Gowns</a></li>
                     </ul>
                   </div>
             </div>
           </span>
         </li>
           <li class="marginal col-sm-3 col-md-2" role="presentation" routerLinkActive="active">
             <a class="product_hover" routerLink = "/products/shirts" >Shirts</a>
             <span class="ghover">
                 <div class="col-md-12">
                   <div class="col-md-3">
                     <h3><a class="gownTextHoverHead" routerLink = "/products/LongSleevedShirt">Long Sleeved Shirts</a></h3>
                     <ul class="noListStyle">
                       <li><a class="gownTextHover" routerLink = "/products/CheckedShirts">Checked Shirts</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/PlainShirts">Plain Shirts</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/ChiffonShirts">Chiffons</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/PeplumShirts">Peplum</a></li>
                     </ul>
                   </div>
                   <div class="col-md-3">
                       <h3><a class="gownTextHoverHead" routerLink = "/products/ShortSleevedShirts">Short Sleeved Shirts</a></h3>
                       <ul class="noListStyle">
                          <li><a class="gownTextHover" routerLink = "/products/CheckedShortShirts">Checked Shirts</a></li>
                          <li><a class="gownTextHover" routerLink = "/products/PlainShortShirts">Plain Shirts</a></li>
                          <li><a class="gownTextHover" routerLink = "/products/ChiffonShortShirts">Chiffons</a></li>
                          <li><a class="gownTextHover" routerLink = "/products/PeplumShortShirts">Peplum</a></li>
                       </ul>
                     </div>

                     <div class="col-md-3">
                        <h3><a class="gownTextHoverHead" routerLink = "/products/TraditionalWearShirts">Traditional Wear</a></h3>
                        <ul class="noListStyle">
                          <li><a class="gownTextHover" routerLink = "/products/AnkaraTop">Ankara Shirt</a></li>
                          <li><a class="gownTextHover" routerLink = "/products/GuineaTop">Guinea Tops</a></li>
                        </ul>
                      </div>
                 </div>
               </span>
           </li>
           <li class="marginal col-sm-3 col-md-2" role="presentation" routerLinkActive="active">
             <a class="product_hover" routerLink = "/products/trousers" >Trousers</a>
             <span class="ghover">
                 <div class="col-md-12">
                   <div class="col-md-3">
                     <h3><a class="gownTextHoverHead" routerLink = "/products/trousers">Trousers</a></h3>
                     <ul class="noListStyle">
                       <li><a class="gownTextHover" routerLink = "/products/Pants">Pants</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/Shorts">Shorts</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/OfficeTrousers">Office Trousers</a></li>
                     </ul>
                   </div>
                   <div class="col-md-3">
                       <h3><a class="gownTextHoverHead" routerLink = "/products/Jeans">Jeans</a></h3>
                       <ul class="noListStyle">
                         <li><a class="gownTextHover" routerLink = "/products/Jeans">Jeans</a></li>
                         <li><a class="gownTextHover" routerLink = "/products/Jergens">Jergens</a></li>
                         <li><a class="gownTextHover" routerLink = "/products/ThreeQJeans">Shorts</a></li>
                         <li><a class="gownTextHover" routerLink = "/products/BumpShorts">Bump Shorts</a></li>
                       </ul>
                     </div>
                     <div class="col-md-3">
                        <h3><a class="gownTextHoverHead" routerLink = "/products/TraditionalWearTrouser">Traditional Wear</a></h3>
                        <ul class="noListStyle">
                          <li><a class="gownTextHover" routerLink = "/products/AnkaraTrouser">Ankara Trouser</a></li>
                          <li><a class="gownTextHover" routerLink = "/products/GuineaTrouser">Guinea Trouser</a></li>
                        </ul>
                      </div>
                 </div>
               </span></li>
           <li class="marginal col-sm-3 col-md-2" role="presentation" routerLinkActive="active">
             <a class="product_hover" routerLink = "/products/shoes" >Shoes</a>
             <span class="ghover">
                 <div class="col-md-12">
                   <div class="col-md-3">
                     <h3><a class="gownTextHoverHead" routerLink = "/products/Flats">Flats</a></h3>
                     <ul class="noListStyle">
                       <li><a class="gownTextHover" routerLink = "/products/Suade">Suade</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/ShinyShoe">Shiny</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/Leather">Leather</a></li>
                       <li><a class="gownTextHover" routerLink = "/products/Sandals">Sandals</a></li>
                     </ul>
                   </div>
                   <div class="col-md-3">
                       <h3><a class="gownTextHoverHead" routerLink = "/products/Heels">Heels</a></h3>
                       <ul class="noListStyle">
                         <li><a class="gownTextHover" routerLink = "/products/Stilettos">Stilettos</a></li>
                         <li><a class="gownTextHover" routerLink = "/products/BlockHeels">Block Heels</a></li>
                         <li><a class="gownTextHover" routerLink = "/products/SandalHeels">Sandal Heels</a></li>
                       </ul>
                     </div>
                     <div class="col-md-3">
                         <h3><a class="gownTextHoverHead" routerLink = "/products/Sneakers">Sneakers</a></h3>
                      </div>
                 </div>
               </span></li>
           <li class="marginal col-sm-3 col-md-2" role="presentation" routerLinkActive="active"><a class="product_hover" routerLink = "/products/bags" >Bags</a></li>
           <li class="marginal col-sm-3 col-md-2" role="presentation" routerLinkActive="active">
             <a class="product_hover" routerLink = "/products/skirts" >Skirts</a>
             <span class="ghover">
                <div class="col-md-12">
                  <div class="col-md-3">
                    <h3><a class="gownTextHoverHead" routerLink = "/products/PencilSkirts" >Pencil Skirts</a></h3>
                    <ul class="noListStyle">
                      <li><a class="gownTextHover" routerLink = "/products/CheckedPencilSkirts">Checked Skirts</a></li>
                      <li><a class="gownTextHover" routerLink = "/products/PlainPencilSkirts">Plain Skirts</a></li>
                      <li><a class="gownTextHover" routerLink = "/products/FloweredPencilSkirts">Flowered Skirts</a></li>
                    </ul>
                  </div>
                  <div class="col-md-3">
                      <h3><a class="gownTextHoverHead" routerLink = "/products/ALineSkirts">A-Line Skirts</a></h3>
                      <ul class="noListStyle">
                        <li><a class="gownTextHover" routerLink = "/products/PlainA_Line">Plain A-Line</a></li>
                        <li><a class="gownTextHover" routerLink = "/products/FloweryA_Line">Flowery A-Line</a></li>
                        <li><a class="gownTextHover" routerLink = "/products/PlainCheckedA_Line">Plain Checked A-Line</a></li>
                      </ul>
                    </div>
                    <div class="col-md-3">
                        <h3><a class="gownTextHoverHead" routerLink = "/products/TraditionalWearSkirts">Traditional Wear</a></h3>
                        <ul class="noListStyle">
                          <li><a class="gownTextHover" routerLink = "/products/AnkaraSkirt">Ankara Skirts</a></li>
                          <li><a class="gownTextHover" routerLink = "/products/GuineaSkirt">Guinea Skirts</a></li>
                        </ul>
                      </div>
                    <div class="col-md-3">
                        <h3><a class="gownTextHoverHead" routerLink = "/products/BandageSkirts">Bandage Skirts</a></h3>
                      </div>
                      <div class="col-md-3">
                          <h3><a class="gownTextHoverHead" routerLink = "/products/JeanSkirts">Jeans Skirts</a></h3>
                        </div>
                        <div class="col-md-3">
                            <h3><a class="gownTextHoverHead" routerLink = "/products/CarribeanSkirts">Carribean Skirts</a></h3>
                          </div>
                </div>
              </span></li>
           <!-- <li class="marginal col-sm-3 col-md-2" role="presentation" routerLinkActive="active"><a routerLink = "/shopping-list" ><p class="popover__title">Orders</p></a></li> -->

         </ul>

         </div>



              <p-dialog [closable]="true" header="Choose Social Media" [style]="{'max-width':'1200px'}" (onHide)="cancelAction()"  showEffect="fade"
              [(visible)]="showGownCats" modal="modal" responsive="true">
              <p>heyo im in dialog</p>
              <form >
                <!-- <ng-template let-socialMedia pTemplate="body"> -->

                <!-- </ng-template> -->
                <div class="ui-g-12 radio-inline">
                  <p-radioButton label="Gowns" value="Gowns">

                  </p-radioButton>
                          </div>
                          <div class="ui-g-12 radio-inline">
                                  <p-radioButton label="LinkedIn" value="LinkedIn" ></p-radioButton>
                              </div>
                    </form>
          </p-dialog>


        <!-- <li class="marginal" role="presentation" routerLinkActive="active"><a routerLink = "/categories" >Categories</a></li> -->

          <!-- </div > -->



     <!--
<nav class="navbar navbar-default">
<div class="navbar-header">
  <a href="#" class="navbar-brand">Women Fashion</a>
</div>

<div >
  <ul class="nav navbar-nav">
    <li><a href="#" (click)="onSelect('gowns')">Gowns</a></li>
    <li><a href="#" (click)="onSelect('shirts')">Shirts</a></li>
    <li><a href="#" (click)="onSelect('jeans')">Jeans</a></li>
    <li><a href="#" (click)="onSelect('pants')">Pant Trousers</a></li>
    <li><a href="#" (click)="onSelect('shoes')">Shoes</a></li>
    <li><a href="#" (click)="onSelect('bags')">Bags</a></li>
    <li><a href="#" (click)="onSelect('skirts')">Skirts</a></li>
    <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
  </ul>

  <ul class="nav navbar-nav" style="float:right">
    <li><input type="text" class="form-control" placeholder="Search"></li>
    <li>
      <button class="btn btn-primary" (click)="Search()">Search</button>
    </li>
  </ul>
</div>

  </nav> -->
  <!-- <div class="row">
      <div class="col-md-5">
        <ul class="sidebar navbar-brand">
            <li><a href="#">Shop by category</a></li>
            <li><a href="#">Shop By Brand</a></li>
                </ul>
      </div>
    </div> -->
