<div class="col-md-4 testimonyhalfDiv" >
  <div class="col-md-12" style="color: white">
      <span style="font-size: x-large">PRAYER REQUEST</span><br/>
      <span style="font-size: large">Believe and it shall come to pass.</span><br/>
      If you need someone to pray with you concerning specific needs, please write and send us your prayer request(s) today. We will be glad to pray with you and pray for you.
    </div>
  <div class="col-md-12">
      <b>TIPS FOR PRAYING</b><br/>
      <hr>
      <ul>
        <li> Pray according to the word</li>
        <li> Be an intercessor</li>
        <li> Pray with faith</li>
      </ul>

  </div>
  </div>
  <div class="col-md-8">
      <form #productForm = "ngForm">
        <div class="panel panel-primary">
            <div class="panel-heading testimonyhalfDiv" style="color: black; text-align: center;">
                <span ><h3>SHARE PRAYER REQUEST</h3>
                </span>
            </div>
            <!-- <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#share">Share Testimony</a></li>
                <li><a data-toggle="pill" href="#view"  (click)="getTestimonies()">View Testimonies</a></li>
              </ul> -->
              <div class="tab-content">
                  <div class="tab-pane fade in active">
                      <div class="panel-body">

                          <div class="form-group">
                              <label for="Name">Full Name (required)</label>
                              <input id="Name" name="Name" [(ngModel)] = "Name"type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label for="Email">Email</label>
                              <input id="Email" name="Email" [(ngModel)] = "Email" type="text" class="form-control" required>
                          </div>
                          <div class="form-group">
                              <label for="date">Date</label>
                              <input id="date" name="date" [(ngModel)] = "date" type="text" class="form-control" readonly required>
                          </div>
                          <div class="form-group">
                              <label for="Title">Prayer Request Title</label>
                              <input id="Title" name="Title" [(ngModel)] = "Title" type="text" class="form-control" required>

                          </div>
                          <div class="form-group">
                              <label for="Country">Country</label>
                                  <select id="Country" name="Country" [(ngModel)] = "Country" class="form-control" >
                                      <option hidden [value]="Country"  selected>Select your Country </option>
                                      <option *ngFor="let country of countries" [ngValue] = "country">{{country}}</option>
                                  </select>
                          </div>
                          <div class="form-group">
                              <label for="Sex">Sex</label>
                                  <select id="Sex" name="Sex" [(ngModel)] = "Sex" class="form-control" >
                                      <option hidden [value]="Sex"  selected>Sex </option>
                                      <option *ngFor="let sex of sexes" [ngValue] = "sex">{{sex}}</option>
                                  </select>
                          </div>
                          <div class="form-group">
                              <label for="request">Prayer Request</label>
                              <textarea id="request" name = "request" rows="20" cols="50" [(ngModel)] = "PrayerRequest"
                               class="form-control" required></textarea>
                          </div>
                        </div>
                        <div class="panel-footer">
                          <button type="submit" class="btn btn-primary testimonyhalfDiv" (click)="SendRequest(); productForm.reset()">Send</button>
                          <span *ngIf = "saved">
                              <div class="alert  alert-success alert-dismissable fade in">Saved Successfully</div>
                          </span>
                        </div>
                  </div>

              </div>

          </div>

      </form>

  </div>


