      <div class="missionBackground">
          <!-- <div style="height:200px"></div>
          <div class=" verticalMiddle animated bounceInDown">
              <span class=" whoWeAreText">MISSION AND VISION</span><br/>
          </div> -->
        </div>
        <ngui-inview>
            <div *ngIf class="whoWeAreDiv ">
                <div class="row d-flex animated bounceInLeft">
                  <div class="col-md-3 col-sm-12 text-center mt-lg-4"><!--mt: margin-top lg:large screen-->
                    <a class="whoweareLink"routerLink = "/history">Our History</a>
                  </div>
                  <div class="col-md-3 col-sm-12 text-center mt-lg-4">
                    <a class="whoweareLink" routerLink = "/missionvision">Mission and Vision</a>
                  </div>
                  <div class="col-md-3 col-sm-12 text-center mt-lg-4">
                    <a class="whoweareLink" routerLink = "/beliefs">Our Beliefs</a>
                  </div>
                  <div class="col-md-3 col-sm-12 text-center mt-lg-4">
                    <a class="whoweareLink" routerLink = "/structure">Our Structure</a>
                  </div>
                </div>

              </div>
        </ngui-inview>

        <div class="container">
          <div class="body">
            <div class="welcomeAddress">
              <br/>
              <div class="card-deck">
                <div class="card">
                  <div class="card-header">
                    <h2>MISSION STATEMENT<br/></h2>
                  </div>
                  <div class="card-body">
                    <span class="welcomeAddText">To discover,<br/>
                      To raise,<br/>
                      And to Sustain Leaders<br/>
                      In the kingdom of God
                    </span><br/><br><br>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h2>VISION STATEMENT<br/></h2>
                  </div>
                  <div class="card-body">
                    <span class="welcomeAddText">
                      To spread the gospel to all four corners of the earth<br/>
                      To spread the Love of God abroad in all hearts.<br/>
                      To make heaven
                   </span><br/><br/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>  <div class="footer downinfo"><br/>
          <div class="verticalMiddle">
            <span> Plot 6, Adelani Lane, OluwaGbebe Street,
              Ologunfe Bus-Stop,
              Lagos.</span>
              <br/><br/>
              Phone Number: 2348033476606<br/><br/>
              Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
              <div>
                <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
                <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
                <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
                <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
              </div><br/>


          </div>
            </div>
            <div class="footer CTerms">
               ©2019 WISDOM CHAPEL - All rights reserved.
            </div>
