<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-5">
      <a href="../../../assets/images/mountain_flyer.jpg" download>
        <img src="../../../assets/images/mountain_flyer.jpg" class="card-img" style="width:100%;height:auto;">
      </a>

    </div>
    <div class="col-md-7">
      <div class="card-body">
        <div class="card-header">Mountain Experience</div>
        <p class="card-text">
            <b>John 13:1-17</b><br>
              One of the greatest ways Jesus displayed love and humility was through
              the washing of His disciples feet and by the breaking of bread,
              and sharing of wine. This is a huge significance to the blood of Jesus,
              which speaketh better things than the blood of Abel, and the blood of lambs.
              We welcome you to our Feet washing and communion service which takes place on
              1st Tuesdays of every month.<br/>
              Come and be blessed.


        </p>
        <p class="card-text">
          Service Days: 1st Tuesdays of Every Month
        </p>

      </div>
      <div class="card-footer">
          <a href="/programs#top"> <button type="submit" class="btn btn-primary"> Back To List</button></a>

      </div>
    </div>
  </div>

</div>

