<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-5">
      <a href="../../../assets/images/coupledinner.jpg" download>
        <img src="../../../assets/images/coupledinner_copy.jpg" class="card-img" style="width:100%;height:auto;">

      </a>
                      </div>
    <div class="col-md-7">
      <div class="card-body">
        <div class="card-header">Couples Dinner</div>
        <p class="card-text">
            <b>Psalm 150:1-6</b><br>
              One of the reasons why we exist is to praise God for who He is. Not to
              talk of when he does great and mighty things. Every year we celebrate
              a week long anniversary, to appreciate the Lord for where he has brought us,
              and where he is taking us to. This years annual convention is dubbed
              <b>Open Heavens</b>. It promises to be a week of manifestion of Gods glory
              and indeed open heavens.
              We welcome you to our Annual Convention/ Anniversary. Come with abundant expectations
              and faith, and it will come to pass.<br/>
              Come and be blessed.


        </p>
        <p class="card-text">
          Convention Date: Last Week Of November,
          <br>Wednesday, 20th November - Sunday 24th November,
        </p>

      </div>
      <div class="card-footer">
          <a href="/programs#top"> <button type="submit" class="btn btn-primary"> Back To List</button></a>

      </div>
    </div>
  </div>

</div>
