<div  class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-5">
      <a href="../../../assets/images/first_sunday.jpg">
        <img src="../../../assets/images/first_sunday - Copy.jpg" class="card-img" style="width:100%;height:auto;">

      </a>
                                  </div>
    <div class="col-md-7">
      <div class="card-body">
        <div class="card-header">Evangelism</div>
        <p class="card-text">
            <b>Deuteronomy 8:18</b><br>
            But remember the LORD your God, for it is he who gives you the ability to produce wealth,
            and so confirms his covenant, which he swore to your ancestors, as it is today.
            All of our skills and special talents that we use in our businesses are all given to
            us by God.This service teached you how to grow your business from good to great,
            and praying against every pitfalls that lead to downfalls in your daily transactions.
            We welcome you to our Business Forum and Breakfast Meetings<br/>
            Come and be blessed.
        </p>
        <p class="card-text">
            Service Days: 1st Tuesday of Every Month
          </p>

      </div>
      <div class="card-footer">
          <a href="/programs#top"> <button type="submit" class="btn btn-primary"> Back To List</button></a>

      </div>
    </div>
  </div>

</div>
