<p>
    May 7, 1958, saw the birth of a young man in the midst of traditional worshippers.
    There was a lot of struggles before he realised his calling. He experienced a lot of downfalls,
    embarassment, disapointment. Until he joined a Celestian Church who gave him the name <i>Woli D</i>.
    <br/>The church was established in November 1997, we have experienced so many tests and trials before we are where 
    we are now.
    Now we have two branches apart from the main church in Lagos, another branch in development in Abuja to God
    be the Glory
</p>
