<div class="indexBackground">
    <div style="height:200px"></div>
    <div class="d-flex verticalMiddle">
        <span class=" whoWeAreText">CONTACT US<br/>
        <span style="font-size:small">INQUIRE|CONNECT|SERVE|GIVE</span></span>

    </div>
  </div>
  <div class="whoWeAreDiv">
      <ul class="noListStyle ">
          <li><a routerLink = "/history">Our History</a></li>
          <li><a routerLink = "/missionvision">Mission and Vision</a></li>
          <li><a routerLink = "/beliefs">Our Beliefs</a></li>
          <li><a routerLink = "/structure">Our Structure</a></li>
        </ul>
  </div>
  <div class="container">
    <div class="body">
      <div class="welcomeAddress">
        <br/>
        <div >
            <h2>PRAYER REQUESTS<br/></h2>
            <span class="welcomeAddText">
                If you need someone to pray with you concerning specific needs, please write and send us your prayer request(s) today. We will be glad to pray with you and pray for you.
            </span><br/>
            <span ><a routerLink = "/prayer-request"><button class="btn btn-lg  btn-default readLink">Request Form</button></a></span>
        </div>

  <div>
    <h2>TESTIMONIES</h2>
    <span class="welcomeAddText">Share your Testimonies with us and encourage others
    </span><br/>
    <a routerLink = "/testimony"><span class="btn btn-lg  btn-default readLink">Share With Us</span></a>
  </div>
<br><br>

      </div>
    </div>
  </div>
  <div class="footer downinfo"><br/>
    <div class="verticalMiddle">
      <span> Plot 6, Adelani Lane, OluwaGbebe Street,
        Ologunfe Bus-Stop,
        Lagos.</span>
        <br/><br/>
        Phone Number: 2348033476606<br/><br/>
        Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
        <div>
          <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
          <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
        </div><br/>


    </div>
      </div>
      <div class="footer CTerms">
         ©2019 WISDOM CHAPEL - All rights reserved.
      </div>
