<div class="contactBackground">
    <div style="height:200px"></div>
    <div class=" verticalMiddle animated bounceInDown">
      <span class="contactHeaderText">CONTACT US<br/></span>
        <span style="font-size:medium">INQUIRE|CONNECT|SERVE|GIVE</span>
  </div>
  </div>

  <div class="contactDiv welcomeAddress">
    <div class="container ">
        <div class="body">
            <div class="row ">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <span class="largeText"><br/>CONTACT US</span><br/>
                        <p>+2348033476606</p>
                    <p style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapel@gmail.com</a> </p>
                    <br>
                    <span class="headertext">
                      Wisdom Chapel<br/>
                    </span>
                    <span class="contactText welcomeAddText">
                    Plot 6, Adelani Lane, OluwaGbebe Street,<br/>
                    Ologunfe Bus-Stop,<br/>
                    Lagos.
                    </span>
                     </div>
                  </div>

                   <div class="col-md-6">

              <span class="headertext">
                <br/><br/>
                Service Times
              </span><br/>
              <span class="contactText welcomeAddText">
                  Sundays at 8:00 am<br/>
                  Wednesdays at 6:00 pm<br/>
                  Feetwashing Service : 1st Tuesday of the month
                  Business Forum: 1st Thursday of the month
              </span>
              <!-- <div class="col-md-12"> -->
                <div class="row">
                    <div class="col-md-6">
                        <span class="headertext">
                          <br/>
                          <p>Quick Links</p>
                        </span>
                        <span class="contactText">
                          <p><a routerLink = "/branches">Branch Locator</a></p>
                          <p><a routerLink = "/department">Be a Workforce</a></p>
                        </span>
                      </div>

                      <div class="col-md-6">
                        <span class="headertext">
                          <br/>Connect With Us<br/>
                        </span>
                        <span class="smallText">
                            <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black">Facebook</a><br>
                            <a href="https://twitter.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0">Twitter</a><br/>
                            <a href="https://instagram.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0">Instagram</a><br/>
                        </span>
                      </div>
                </div>


                <!-- </div> -->
              <!-- <span class="headertext">
                <a routerLink="/testimony">View Testimonies</a><br/><br/>
                <a [routerLink]="['/prayer-request']" routerLinkActive="router-link-active">Send Prayer Request</a>
              </span> -->
            </div>
            </div><br><br>


          <div class="welcomeAddress">
            <div class="row">

                <br/><br/>
                <div class="col-md-6" >
                    <h2>PRAYER REQUESTS<br/></h2>
                    <span class="welcomeAddText">
                        If you need someone to pray with you concerning specific needs, please write and send us your prayer request(s) today. We will be glad to pray with you and pray for you.
                    </span><br/>
                    <!-- <a routerLink = "/prayer-request"><span class="btn btn-lg  btn-warning readLink">Request Form</span></a> -->
                    <a routerLink = "/prayer-request"><span class="btn btn-lg  btn-info">Request Form</span></a><br><br>

                </div>


          <div class="col-md-6">
            <h2>TESTIMONIES</h2>
            <span class="welcomeAddText">Share your Testimonies with us <br>and encourage others<br>
            </span><br/>
            <a routerLink = "/testimony"><span class="btn btn-lg btn-info ">Share With Us</span></a>
          </div>
        <br><br>
            </div>


          </div>
        </div>
      </div>
</div><br/>

  <div class="footer downinfo"><br/>
    <div class="verticalMiddle">
      <span> Plot 6, Adelani Lane, OluwaGbebe Street,
        Ologunfe Bus-Stop,
        Lagos.</span>
        <br/><br/>
        Phone Number: 2348033476606<br/><br/>
        Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
        <div>
          <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
          <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
        </div><br/>


    </div>
      </div>
      <div class="footer CTerms">
         ©2019 WISDOM CHAPEL - All rights reserved.
      </div>
