<div class="row">
    <div class="col-xs-6">
        <!-- <app-shopping-edit
        (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit> -->

        <!-- <hr> -->
       <ul class="list-group">
         <!-- <a class="list-group-item" style="cursor: pointer"
         *ngFor="let item of items">
        {{ item.name}}({{item.amount}})
        </a> -->
        <a class="list-group-item" style="cursor: pointer"
        *ngFor= "let category of itemsCat">
{{category._Name}}
<img [src]="category._ImagePath">
<br>
{{category._Price}}
        </a>
       </ul>
  </div>
