<div class="branchesBackground">
    <div style="height:200px"></div>
    <div class="verticalMiddle animated bounceInLeft">
        <span class="branchText">BRANCHES</span><br/>
    </div>
  </div>
  <ngui-inview>
      <div *ngIf class="whoWeAreDiv">
          <div class="row d-flex">
            <div class="col-md-3 col-sm-12 text-center mt-lg-4"><!--mt: margin-top lg:large screen-->
              <a class="whoweareLink"routerLink = "/history">Our History</a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mt-lg-4">
              <a class="whoweareLink" routerLink = "/missionvision">Mission and Vision</a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mt-lg-4">
              <a class="whoweareLink" routerLink = "/beliefs">Our Beliefs</a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mt-lg-4">
              <a class="whoweareLink" routerLink = "/structure">Our Structure</a>
            </div>
          </div>

        </div>
  </ngui-inview>

  <div class="container">
    <div class="body">
      <div class="welcomeAddress">
        <br/>
        <div  >
          <p><b>Wisdom Chapel</b> <span class="welcomeAddText"> has been growing steadily over the past few years. And God has used<br/>
           the Set-Man Bishop SD Ogendengbe to win more souls into the kingdom of God<br/>
          Currently we have Four(4) branches in Total. Three(3) in LAgos, and One(1) in Abuja<br/>
          By the grace of God, we have faith that He will do even more abundantly than this.</span></p>
            <h2>WISDOM CHAPEL HEADQUARTERS<br/></h2>
            <span class="welcomeAddText">
              Address:  Plot 6, Adelani Lane, OluwaGbebe Street,<br>
                  Ologunfe Bus-Stop,<br>
                  Lagos.<br/>
                  Phone Number: 2348033476606<br/>
                  Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapel@gmail.com</a> </span><br/>
            </span><br/>
<div>
  <img class="img-responsive" src="../../assets/images/shasha_church.jpg"  width= "100%" height= "100%"><br>
</div>
            <!-- <img class="img-responsive" src="../../assets/images/shasha_church.jpg" width = "100%" height= "450px"><br> -->

           <h2>WISDOM CHAPEL INTERNATIONAL HEADQUARTERS</h2>
           <span class="welcomeAddText">
             Address: Osapa London, Lekki, Lagos<br/>
             Phone Number: 2348033476606<br/>
             Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapellekki@gmail.com</a> </span><br/>
          </span><br/>
          <img class="img-responsive" src="../../assets/images/wisdom_lekki.jpg" width = "100%" height= "450px"><br>




          <h2>WISDOM CHAPEL PEACE BRANCH<br/></h2>
          <span class="welcomeAddText">
            Address:  Car Wash, Station Bus- Stop, Bogije,Lagos<br>
                Phone Number: 2348033476606<br/>
                Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapelbogije@gmail.com</a> </span><br/>
          </span><br/>
          <img class="img-responsive" src="../../assets/images/wisdom_bogije.jpg" width = "100%" height= "450px"><br>

         <h2>WISDOM CHAPEL ABUJA BRANCH (In Construction)</h2>
         <span class="welcomeAddText">
           Address: Osapa London, Lekki, Lagos<br/>
           Phone Number: 2348033476606<br/>
           Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapelabuja@gmail.com</a> </span><br/>
        </span><br/>

          <h2></h2>

        </div>
      </div>
    </div>
  </div>
  <div class="footer downinfo"><br/>
    <div class="verticalMiddle">
      <span> Plot 6, Adelani Lane, OluwaGbebe Street,
        Ologunfe Bus-Stop,
        Lagos.</span>
        <br/><br/>
        Phone Number: 2348033476606<br/><br/>
        Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
        <div>
          <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
          <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
        </div><br/>


    </div>
      </div>
      <div class="footer CTerms">
         ©2019 WISDOM CHAPEL - All rights reserved.
      </div>
