<div class="indexBackground">
    <div style="height:200px"></div>
    <div class=" verticalMiddle animated bounceIn">
        <span class=" whoWeAreText">MOUNTAIN EXPERIENCE</span><br/>
    </div>
  </div>
  <ngui-inview>
      <div *ngIf class="whoWeAreDiv ">
          <div class="row d-flex animated bounceInLeft">
            <div class="col-md-3 col-sm-12 text-center mt-lg-4"><!--mt: margin-top lg:large screen-->
              <a class="whoweareLink"routerLink = "/history">Our History</a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mt-lg-4">
              <a class="whoweareLink" routerLink = "/missionvision">Mission and Vision</a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mt-lg-4">
              <a class="whoweareLink" routerLink = "/beliefs">Our Beliefs</a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mt-lg-4">
              <a class="whoweareLink" routerLink = "/structure">Our Structure</a>
            </div>
          </div>

        </div>
  </ngui-inview>

  <div class="container">
<!-- <div> -->
    <div class="row " >
          <div class="col-md-12 fullJustify">
<br>
                <strong>Wisdom Chapel</strong> has been growing steadily over the past few years. And God has used
                the Set-Man Bishop SD Ogendengbe to win more souls into the kingdom of God
               Currently we have Four(4) branches in Total. Three(3) in LAgos, and One(1) in Abuja
               By the grace of God, we have faith that He will do even more abundantly than this.
      </div>





      <div class="col-md-6 col-sm-12">
          <h2><br/>PAPA PREACHING TO THE MEN</h2>
          <span class="welcomeAddText">
            Address:  Plot 6, Adelani Lane, OluwaGbebe Street,<br>
                Ologunfe Bus-Stop,<br>
                Lagos.<br/>
                Phone Number: 2348033476606<br/>
                Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapel@gmail.com</a> </span><br/>
          </span><br/>
          <img class="img-responsive" src="../assets/images/wisdom_mountain1.jpg"  width= "100%" height= "450px"><br>

      </div>
      <div class="col-md-6">
          <h2><br>MEN PRAYING ON THE ALTAR</h2>
          <span class="welcomeAddText">
            Address: Osapa London,<br> Lekki,<br> Lagos<br/>
            Phone Number: 2348033476606<br/>
            Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com">wisdomchapellekki@gmail.com</a> </span><br/>
         </span><br/>
         <img class="img-responsive" src="../assets/images/wisdom_moutain2.jpg" width = "100%" height = "450px"><br>

      </div>
        <h2></h2>

      </div>
    <!-- <span class="list-group-item clearfix"> -->
    <!-- </span> -->
  <!-- </div> -->
  <!-- <div>
      <span class="list-group-item clearfix">
      <span class="col-md-12">
        <img src="../assets/images/wisdom_mountain1.jpg" alt="mountain experience1"  class="img-responsive"
         style="height: 450px;width:700px; object-fit:cover;">
        </span>
        <div>
          <h4 class="list-group-item-heading headingHeight">Mountain Experience</h4><br>
          <p class="list-group-item-text textHeight">Men Praying</p>
        </div>
      </span>
    </div> -->





      </div>

      <div class="footer CTerms">
         ©2019 WISDOM CHAPEL - All rights reserved.
      </div>
