<div class="row">
<div class="col-md-4 testimonyhalfDiv">
        <div class="col-md-12" >
            <span style="font-size: x-large">TESTIFY</span><br/>
            <span style="font-size: large">Thank God. Encourage others.</span><br/>
            There is great power in sharing what God is doing in your life. You can encourage, strengthen and motivate other believers.<br/><br/>
        </div>
        <div class="col-md-12">
            <b>TIPS FOR SHARING</b><br/>
            <hr>
            <ul class="list-group">
              <li class="list-group-item"> Keep it simple</li>
              <li class="list-group-item"> Be concise yet detailed</li>
              <li class="list-group-item"> Be ready to provide supporting documents if necessary</li>
            </ul>

        </div>

</div>
<div class="col-md-8">
  <div class="card">
      <div class="card-header " style=" text-align: center;">
          <span ><h3>SHARE OR VIEW TESTIMONIES</h3>
          </span>
      </div>
      <div class="card-body">
          <form #productForm = "ngForm">
<ul class="nav nav-pills card-header-pills">
    <li class="nav-item "><a class="nav-link active " data-toggle="pill" (click)="shareTestimony()">Share Testimony</a></li>
    <li class="nav-item"><a class="nav-link " data-toggle="pill"  (click)="ViewTestimonies()">View Testimonies</a></li>
</ul>
<div class="tab-content">
    <!-- <div id="share" class="tab-pane fade in active"> -->
     <app-share-testimony *ngIf="Stestimony"></app-share-testimony>
     <app-view-testimonies *ngIf="VTestimony"></app-view-testimonies>



</div>
            </form>
      </div>

  </div>

</div>
</div><br>
<div class="footer downinfo"><br/>
  <div class="verticalMiddle">
    <span> Plot 6, Adelani Lane, OluwaGbebe Street,
      Ologunfe Bus-Stop,
      Lagos.</span>
      <br/><br/>
      Phone Number: 2348033476606<br/><br/>
      Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
      <div>
        <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
        <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
        <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
        <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
      </div><br/>


  </div>
    </div>
<div class="footer CTerms">
  ©2019 WISDOM CHAPEL - All rights reserved.
</div>

