
      <div class="indexBackground">
          <div style="height:200px"></div>
          <div class="d-flex verticalMiddle">
              <span class=" whoWeAreText">OUR BELIEFS</span><br/>
          </div>
        </div>
        <div class="whoWeAreDiv">
            <ul class="noListStyle ">
                <li><a routerLink = "/history">Our History</a></li>
                <li><a routerLink = "/missionvision">Mission and Vision</a></li>
                <li><a routerLink = "/beliefs">Our Beliefs</a></li>
                <li><a routerLink = "/structure">Our Structure</a></li>
              </ul>
        </div>
        <div class="container">
          <div class="body">
            <div class="welcomeAddress">
              <br/>
              <div >
                  <h2>THE BIBLE TEACHING<br/></h2>
                  <span class="welcomeAddText">We believe that the entire Scripture, both Old and New Testament
                    are written by the inspiration of the Holy Spirit – II Tim. 3:16-17.
                    All the Christian teachings and the Christian attitude of the Children of God are such as
                    are established in the Holy Bible – II Tim. 3:10-15; II Peter 1:21; John 17:17; Ps. 119:105.
                    We believe that the Bible is the written and revealed Will of God. Man’s position to God,
                    the way to obtain salvation, woe and destruction awaiting sinners that refuse to
                    repent and everlasting joy that is kept for the born again souls. All the Bible teachings
                    are holy, what the Bible reveals as the will of God are such that we should accept,
                    and whatever God writes in the Bible and His Law are to remain unchangeable;
                    for the Heavens and Earth may pass away but the Word of God stands forever.
                    Deut. 4:22; Rev. 22:18, 19; Matt. 24:34-38.

                  </span><br/>

                 <h2>ABOUT GOD: Ps. 33:6-9</h2>
                 <span class="welcomeAddText">
                    As revealed unto us by the Bible, we believe that there is only one God,
                     Who is the Creator of both visible and invisible creatures -Gen. 1:1;
                      Ps. 86:9-10; Is. 43:10-11; John 1:1-3. Only God will be in existence forever.
                      Ez. 3:14; in God every creature receives life -John 5:26.

                </span><br/><br/>

                <h2>ABOUT JESUS CHRIST<br/></h2>
                <span class="welcomeAddText">
                  We believe that He is the Son of God; Who took away our sins,
                  and the Savior of the world. We also believe that Jesus is God
                  and was born by Mary the Virgin. He is God revealed in the flesh.
                  Through Him all things were created. John 1:1-14; John 14:9;
                  Matt. 1:18-25, Is 9:6; Is 53:5-6. We believe in His death on the Cross,
                  and resurrection, by which He brought redemption – Is. 53:4-10;
                  I Pet. 2:24; John 10:11; Gal. 3:13, Matt. 20:28; I Cor. 15:3;
                  Rom. 4:25; II Cor. 5:14; Heb 2:9; Heb 9:26.
                </span><br/>

               <h2>ABOUT TRINITY</h2>
               <span class="welcomeAddText">
                  The egg is comprised of three parts: The yellow yolk, the whitish part, and the shell.
                  Despite these three (3) substances, the egg is not three but one. Likewise, we believe
                   that God the Father, God the Son, and God the Holy Ghost are one God, but made
                   of three persons – hence they are ONE IN TRINITY – Gen. 1:16-29; Matt. 3:16-17; Matt. 18:19.

              </span><br/><br/>

              <h2>ABOUT THE DEVIL<br/></h2>
              <span class="welcomeAddText">
                We believe that there is a devil, who seeks the down fall of every man.
                 He brought sickness, sin and death into the world. Gen. 3:1-16.
                 He seeks the destruction of those who exercise their faith in the Lord Jesus.
                 Matt. 4:1-11; James 4:7; I Peter 5:8. The devil has several unclean spirits
                 over whom he governs – Matt. 12:24. A time would soon come when he shall be
                 thrown into the pit and chained for one thousand years- Rev. 20:7-9.
                 After this, he will be put into the lake of fire where he will remain suffering
                 together with his followers for ever and ever. Rev. 20:10


              </span><br/>

             <h2>ABOUT THE HOLY SPIRIT</h2>
             <span class="welcomeAddText">
                The Holy Spirit is the third Person in the TRINITY. He has the same power,
                the same glory with God the Father and God the Son – John 14:16-17;
                John 15:26; Matt. 3:16; Acts 13:24. He is one with Father and the Son who is
                to be worshiped and served. Three Persons that become one are the source of
                blessings to all the living creatures in Heaven and on earth – Matt. 28:19;
                II Cor. 13:14; I John 1:5-7. The Holy Spirit has a great work to perform.
                He Teaches, He Speaks to men, and bears witness in us – Acts 16:6-7;
                He performs the work of regeneration for man- John 3:5-6;
                He also performs the work of Sanctification in the born again souls
                until they are fully sanctified – John 16:8; Eph 1:17-19; II Thess. 2:13;
                I Cor. 6:11. This same Holy Spirit endows believers with gifts they can use – I Cor 12:7;
                He empowers one in the Lord. Acts 1:8.

            </span><br/><br/>

            <h2>ABOUT MAN</h2>
            <span class="welcomeAddText">
                Things He created. Gen. 1:26. God formed man of the dust of the ground and breathed
                 into his nostrils the breath of life, and man became a living soul – Gen 2:7.
                 Therefore man is of three parts, namely body, soul and spirit. Man is God’s ambassador
                 on earth to take control over all other creatures on His behalf on earth. Gen. 1:26-28.
                  God allows man to take part in His work and thereby reveal His love for mankind more than
                  any other creatures – Gen. 2:15. This also shows how God elevates man more than the other
                  creatures upon the earth.
           </span><br/><br/>

           <h2>BAPTISM OF THE HOLY SPIRIT</h2>
            <span class="welcomeAddText">
                All born-again souls should ask for the Holy Spirit from above,
                as the Apostles were ordered to wait in Jerusalem until they were filled from above.
                It is the promise of the Father. It is God’s gift which He gives to those who obey
                Him – Luke 24:49; John 4:14-26; Acts 1:4-5; Acts 5:32; Acts 8:14-17. It is God’s
                promise unto those who are far and all whom the Lord shall call – Acts 2:38-39.
                Any Christian who receives the baptism of the Holy Spirit must speak in
                tongues – Acts 2:4; Acts 10:34-36; Acts 19:2-6.

           </span><br/><br/>
           <h2> DIVINE HEALING</h2>
           <span class="welcomeAddText">
              Healing without medicine is Biblical – Matt. 4:23; Ps. 103:3; Sickness is caused because of the fall of man.
              The force behind this is Satan – Job 2:1-9; Luke 13:15; Acts 10:3. But JESUS came to destroy the works of
              the devil – I John 3:8. Christ purchased our soul from the curse of sin. He bore our infirmities and
              carried our sorrow – Matt. 8:15-17. By His stripes we are healed. Is 53:4-5; Gal. 3:13; I Peter 2:24.
              Healing without medicine is of the Gospel – Matt. 9:35; Mark 6:10-18. We read that the twelve Apostles
              and the seventy disciples combined healing with their Ministry of the Gospel – Luke 9:1-2; Luke 10:1-9.
              The Lord commanded us to go into the world, just to teach the nations alone, but that we should also
              heal the sick – Matt. 28:19-20; Mark 10:1, Mark 16:15-18.<br/>

           We could obtain our healing in these four ways: <br/>
           1. By individual prayer – John 14:13-14 <br/>
           2. By two people (or a group of people) who have agreed to pray by faith – Matt. 18:19-20.<br/>
            3. By the laying of hands on the head – Mark 16:18; Acts 9:18; Acts 28:8.<br/>
           4. By the Ministry of the Elders, anointing the sick with prayer of faith – James 5:14-15 Special Notice – Before we can work by healing without medicine, we would have sanctified our life to the doing of the Law – Rom. 6:13, 19; Rom. 12:1; Matt. 16:24; II Cor. 8:5, 15.
           Many miracles were performed by the Apostles – Acts 9:33-42; Acts 19:11-12; Acts 28:8-9.


          </span><br/><br/>

          <h2>ABOUT PRAYER</h2>
          <span class="welcomeAddText">
              A Christian without condemnation of heart has a right to thank God and be in adoration and
              in prayer unto the Lord always – Zek. 12:10. His soul thirsts for God – Ps. 42:2.
              The Holy Spirit helps his infirmities in prayer – Rom. 8:26. We must pray only
              by the Name of JESUS – John 16:23; ; I Tim. 2:25. Without faith our prayer shall be powerless before God
               – James 1:6-8; Heb. 11:6. Those who are unable to pray annoy God – Is. 42:22; Is. 64:6-7.
              Much trouble and danger are encountered in the absence of prayer – Zeph 1:4; Dan 9:13-14; Hosea 8:13-14.
              We are commanded to pray and not to faint and to pray without ceasing – Col. 4:2;
              I Thess. 5:17; I Cor. 7:5; Luke 18:1. The Apostles put prayer first in their life and they spent
              much time in prayer – Acts 6:4; Rom. 6:4; Rom 1:9; Col. 1:9. It is God’s plan and order that we
              hould pray to receive all the goods He has promised in His treasure for us – James 4:2; Dan. 9:3;
              Matt. 7:7-11; Matt. 9:24-29; Luke 11:13.

         </span><br/><br/>

         <h2>PROPHECY IN THE CHURCH</h2>
         <span class="welcomeAddText">
            The Bible teaches us to abstain from all appearance of evil – I Thess. 5:22.
            “But follow after righteousness, faith, love, purging ourselves from unclean things
            so that we may be vessels unto honor, sanctified, and prepared unto every good work”
            – II Tim. 2:21-22. Therefore we must not see our Church members in dancing halls, or cinema halls,
            reveling, for such things are works of the flesh. All people doing such things shall not inherit
            the kingdom of God – Gal 5:19-21; I Peter 4:3-4; Prov 31:4-5; Rev. 1:5-6; Gen 19:30-38.<br/>

            Swearing and Cursing Forbidden All Christians should not swear or curse or blaspheme for we were
            not taught of Jesus in such a way. “Bless, and curse not” Rom. 12:14. Swear not at all, neither
            by Heaven, nor by the earth or any other swearing. But let your yes by yes, and No be No so
            that you do not run into condemnation – Matt. 5:34; James 5:12.

        </span><br/><br/>

        <h2>DUE REVERENCE TO PARENTS AND AUTHORITIES</h2>
        <span class="welcomeAddText">
            All Christians are to obey the law of the country, obey the government and authority.
             They should honor their parents and elders. I Peter 2:13-14; Rom 13:1-5; Eph. 6:1-3.

       </span><br/><br/>

       <h2>REBELLION AGAINST CHURCH AUTHORITY FORBIDDEN</h2>
       <span class="welcomeAddText">
          Rebellion against Church Ministers is against the Will of God.
          Those who rebelled against Moses did not escape unpunished – Num 12:1-10;
          Num. 16:1-4,32. The Bible teaches that we should obey our Spiritual leaders and submit to them
           – Heb 13:17; Joshua 1:16-18.

      </span><br/><br/>
              </div>
            </div>
          </div>
        </div>
        <div class="footer downinfo"><br/>
          <div class="verticalMiddle">
            <span> Plot 6, Adelani Lane, OluwaGbebe Street,
              Ologunfe Bus-Stop,
              Lagos.</span>
              <br/><br/>
              Phone Number: 2348033476606<br/><br/>
              Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
              <div>
                <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
                <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
                <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
                <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
              </div><br/>


          </div>
            </div>
            <div class="footer CTerms">
               ©2019 WISDOM CHAPEL - All rights reserved.
            </div>
