<div class="indexBackground">
    <div style="height:200px"></div>
    <div class=" verticalMiddle animated bounceInDown">
        <span class=" whoWeAreText">WHO WE ARE</span><br/>
    </div>
  </div>

  <ngui-inview>
        <div *ngIf class="whoWeAreDiv">
            <div class="row d-flex animated bounceInLeft">
              <div class="col-md-3 col-sm-12 text-center mt-lg-4"><!--mt: margin-top lg:large screen-->
                <a class="whoweareLink"routerLink = "/history">Our History</a>
              </div>
              <div class="col-md-3 col-sm-12 text-center mt-lg-4">
                <a class="whoweareLink" routerLink = "/missionvision">Mission and Vision</a>
              </div>
              <div class="col-md-3 col-sm-12 text-center mt-lg-4">
                <a class="whoweareLink" routerLink = "/beliefs">Our Beliefs</a>
              </div>
              <div class="col-md-3 col-sm-12 text-center mt-lg-4">
                <a class="whoweareLink" routerLink = "/structure">Our Structure</a>
              </div>
            </div>

          </div>
      </ngui-inview>

  <!-- <div class="container"> -->
    <div class="body">
      <div class="welcomeAddress">
        <br/>
        <!-- <ngui-inview> -->
        <div *ngIf>

                <div class="welcomeAddText animated bounceIn">
                    Something NEW is here! But before I introduce it to you let me first welcome you to the Information
                    Gateway of the Evangelical Ministries Wisdom Chapel. Established in 1997,
                    Wisdom Chapel is a growing church with Parishes of the church currently at three locations in Nigeria.
                    I believe you are here for more information about this body of God, but nevertheless, for taking out
                    of your time to visit and read through, May the Lord continue to bless you in all your ways.
                    This is Wisdom Chapel, where we discover, raise and sustain leaders in the Kingdom of God.
                    On this platform, there are various activities that could be done, be it sending a prayer request,
                    giving to the Lord, sharing testimonies and so much more.<br/>
                    Remain Blessed Brethren<br><br>
                </div>


        </div>
      <!-- </ngui-inview> -->
        <div class="card-deck" >
            <div class="card">
                <!-- <div class="header">WELCOME ADDRESS</div> -->
            <div class="card-body">
                <h5 class="card-title">Our History</h5>
                <p class="card-text">
                    <span class="welcomeAddText">May 7, 1958, saw the birth of a young man in the midst of traditional worshippers.
                        There was a lot of struggles before he realised his calling. He experienced a lot of downfalls,
                        embarassment, disapointment. Until he joined a Celestian Church who gave him the name <i>Woli D</i>.
                    </span><br/>
                      </p>
                </div>
                <div class="card-footer">
                    <span ><a routerLink = "/history"><button class="btn btn-md  btn-primary ">Read More...</button></a></span>

                </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Mission and Vission</h5>
                <span class="welcomeAddText">To Discover, Raise, and Sustain Leaders in the Kingdom...
                  </span><br/>
              </div>
              <div class="card-footer">
                  <a routerLink = "/missionvision"><span class="btn btn-md  btn-primary ">Read More...</span></a>
                </div>
            </div>
            <div class="card">
               <div class="card-body">
                <h5 class="card-title">Our Beliefs</h5>
                <span class="welcomeAddText">A very fim belief that is the backbone of this church is the truth that
                    we do not die...
                  </span><br/>
              </div>
              <div class="card-footer">
                  <span > <a routerLink = "/beliefs"><span class="btn btn-md  btn-primary ">Read More...</span></a>
                </span>
             </div>
            </div>
            <div class="card">
                  <div class="card-body">
                  <h5 class="card-title">Our Structure</h5>
                  <span class="welcomeAddText">The overall head of the church has always been and will always be
                      The Lord Jesus. Who made it possible for us to be alive. Then the founder of the ministry:
                      Bishop S.D. Ogedengbe.
                    </span><br/>
                </div>
                <div class="card-footer">
                    <span > <a routerLink = "/structure"><span class="btn btn-md  btn-primary ">Read More...</span></a></span>
               </div>
              </div>
          </div>
      </div>
    </div><br>
  <!-- </div> -->
  <div class="footer downinfo"><br/>
    <div class="verticalMiddle">
      <span> Plot 6, Adelani Lane, OluwaGbebe Street,
        Ologunfe Bus-Stop,
        Lagos.</span>
        <br/><br/>
        Phone Number: 2348033476606<br/><br/>
        Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
        <div>
          <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
          <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
          <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
        </div><br/>


    </div>
      </div>
      <div class="footer CTerms">
         ©2019 WISDOM CHAPEL - All rights reserved.
      </div>
