<div class="row">
  <div class="col-md-4 testimonyhalfDiv" >
      <div class="col-md-12" >
          <span class="text-center" style="font-size: x-large">STRUCTURE</span><br/>
          <span class="text-center" style="font-size: large">Organizational Structure of Wisdom Chapel</span><br/>
          <div class="text-justify">
            This Spiritual Organizational Structure is headed and superceded by God Almighty, for without Him,
            we can do nothing.
            He gave his mantle to our Lord Bishop S.D. Ogedengbe. Who has spearheaded this commission.
            He is assisted by His Lovely wife Rev (Mrs) Peace Ogedengbe who is fondly called Mama.
            Followed By the Senior/Branch Pastors:<br>
            <ul>
              <li>Pastor Peace Oretayo (Lekki Branch)<br></li>
              <li> Pastor Victoria Ajike (Shasha Branch)<br></li>
              <li> Pastor Tom (Bogije Branch)<br></li>
            </ul>
            We also have numerous pastors working under them.<br>
            This is followed by the ministers, then the evangelists, the men, the women, the youths, the teenagers
            and finally the children.
          </div>

      </div>

      </div>
      <div class="col-md-8">
        <div class="card text-center">
            <div class="card-header " >
               Organizational Structure
            </div>
            <div class="card-img-top align-content-center">  <img src="../../assets/images/structure1.PNG"></div>
            <!-- <div class="card-footer">
                <p>Thanks for giving. God bless you.</p>
            </div> -->
        </div>


</div>
</div>
<div class="footer downinfo"><br/>
  <div class="verticalMiddle">
    <span> Plot 6, Adelani Lane, OluwaGbebe Street,
      Ologunfe Bus-Stop,
      Lagos.</span>
      <br/><br/>
      Phone Number: 2348033476606<br/><br/>
      Email Address: <span style="text-transform: lowercase"><a href="mailto:wisdomchapel@gmail.com" style="color: #ffffff">wisdomchapel@gmail.com</a> </span><br/>
      <div>
        <a href="https://www.facebook.com/WisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/facebook.png" alt="facebook" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
        <a href="https://twitter.com/WisdomChapeltc" target="_blank"><img src="https://xputertechnologies.com/public/twitter.png" alt="twitter" width="32" height="32" border="0" style="color: black"></a>&nbsp;&nbsp;
        <a href="https://linkedin.com/company/wisdomChapel" target="_blank"><img src="https://xputertechnologies.com/public/linkedin.png" alt="linkedin" width="32" height="32" border="0" style="color:black"></a>&nbsp;&nbsp;
        <a href="https://m.youtube.com/channel/UCC0dbQCPFedn2KkKBbJDJ0g" target="_blank"><img src="../../assets/images/youtubeicon.jpg" alt="youtube" width="28" height="24" border="0"></a>
      </div><br/>


  </div>
    </div>
<div class="footer CTerms">
  ©2019 WISDOM CHAPEL - All rights reserved.
</div>





<!-- <div class="row">
  <div class="col-md-12">

  </div>
</div>
<div class="structure">
<img src="../../assets/images/structure1.PNG">


</div> -->
