
<div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">


      <div>
        <h4 class="list-group-item-heading ">{{ testimony._Title}}</h4>
        <p class="list-group-item-text ">{{ testimony._Name}}</p>
        <p class="list-group-item-text">{{ testimony._Email}}</p>
        <p class="list-group-item-text ">{{ testimony._Sex}}</p>
        <p class="list-group-item-text">{{ testimony._Country}}</p>
        <p class="list-group-item-text ">{{ testimony._Date}}</p>
        <p class="list-group-item-text">{{ testimony._Testimony}}</p>
      </div>

  </div>

  <!-- <app-testimony-detail [catType]=""></app-testimony-detail> -->
