/* Made with love by Mutiullah Samim*/
* {
  box-sizing: border-box;
}
form {
  width: 350px;

  /* float: left; */
  margin: 0 auto; /*to place an object in the center*/
}

.center_header{
  margin: 0 auto;
  margin-left: 60px;
}
/* @import url('https://fonts.googleapis.com/css?family=Numans');

.container{
height: 100%;
align-content: center;
/* background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
 background-image: url('../../assets/images/background.jpg');
background-size: cover;
background-repeat: no-repeat;
}
label{
    color:white;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 100px;
background-color: #FFC312;
color: black;
border:0 !important;
}

.larger{
    height:30px;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
/*
.full-width{
    width:100%;
}
input{
    margin-left: 10px;
}*l/

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

form input[type=submit].login_btn:hover{
color: black;
background-color: #ccc;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

* {
    box-sizing: border-box;
  }
  form {
    /* width: 320px; */
    /* float: left; *l/
    margin: 20px;
  }
  form > div {
    position: relative;
    overflow: hidden;
  }
  form input, form textarea {
    width: 100%;
    /* border: 2px solid gray; *l/
    background: none;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 8px 12px;
    outline: 0;
  }
  form input:valid, form textarea:valid {
    background: white;
  }
  form input[type = submit].login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
   }
  form input:focus, form textarea:focus {
    border-color: #1d06f0;
    /* 1e0fe7 *l/
  }
  .fontWhite{
    color: white;
    padding: 7px 14px;
    font-weight: bolder;
  }
  form input:focus + label, form textarea:focus + label {
    background: #1d06f0;
    color: white;
    font-size: 90%;
    padding: 1px 6px;
    z-index: 2;
    text-transform: capitalize;
  }
  form label {
    transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
    position: absolute;
    color: white;
    padding: 7px 6px;
  }
  form textarea {
    display: block;
    resize: vertical;
  }

  form.go-bottom label {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  form.go-bottom.dropdown{

  }
  form.go-bottom input:focus, form.go-bottom textarea:focus {
    padding: 4px 6px 20px 6px;
  }
  form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
    top: 100%;
    margin-top: -29px;
  }
  form.go-right label {
    top: 2px;
    right: 100%;
    width: 100%;
    margin-right: -100%;
    bottom: 2px;
  }
  form.go-right input:focus + label, form.go-right textarea:focus + label {
    right: 0;
    margin-right: 0;
    width: 40%;
    padding-top: 5px;
  } */
